body
{
    text-align: center;
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: white;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}


main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* h1
{
    font-size: 5rem;
    background-color: #066DEB;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
    
} */

h2
{
    font-size: 5rem;
    margin: 0;
}

h3
{
    display: inline-block;
    background-color: #066DEB;
    padding: 2.5% 3%;
    border-radius: 18px;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 2rem;
}

h4
{
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    margin-bottom: 10px
}

p
{
    font-family: 'Merriweather', serif;
    /* font-weight: 700; */
    line-height: 1.5;
}

img{
    display: block;
}

hr
{
    /* border: 0px;
    border-top: 10px dotted white;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 50% */

    border: none;
    width: 50%;
    height: 50px;
    /* border-bottom: 1px solid white; */
    box-shadow: 0 20px 20px -20px white;
    margin-top: 20px;
    margin-bottom: 70px;
}

figure
{
    margin: 0;
}

figcaption
{
    font-size: 0.7rem;
}

a{
    color: white;
}

.background
{
    width: 920px;
}

/* Anime details */

.anime-name
{
    background-color: #066DEB;
    border-radius: 10px;
}

.anime-background
{
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px;
}

.anime-background:nth-child(even)
{
    background-color: #112F99;
     
}

.anime-background:nth-child(odd)
{
    background-color: #1C4E99;
}

img
{
    width: 100%; 
}

.anime-image
{
    width: 100%;
    margin: 10px auto;
    /* margin-bottom: 10px; */
}

/* Quote section */

.quote
{
    /* background-color:antiquewhite; */
    display: inline-block;
    width: 100%;
}


.quote-background
{
    background-color: #066DEB;
    /* background-color: #112F99; */
    display: inline-block;
    padding: 1%;
    border-radius: 15px;
    margin: 0 0px;
    margin-top: 20px;
}

.quote-text
{
    font-size: 1.2rem;
    letter-spacing: 0.01em;
}

/* Character section */

.characters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aqua; */
    justify-content: space-between;
    /* margin: 0 20px; */
}

.character
{
    width: 40%;
    /* background-color: blue; */
    margin: 0 20px;
}

.character > figure > img 
{
    height: 267px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 5px;
}



@media only screen and (max-width: 990px) {
    .background{
        width: 95%;
    }
}

@media only screen and (max-width: 915px) {
    .character > figure >  img
    {
        /* width: 360px; */
        /* width: 80%; */
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {

    h2{
        font-size: 3.8rem;
    }

    .characters
    {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* background-color: aqua; */
        /* justify-content: space-between; */
        /* margin: 0 20px; */
        align-items: center;
    }

    .character
    {
        width: 75%;
        /* background-color: blue; */
        margin: 0 20px;
        
    }

    .character > figure > img
    {
        /* width: 360px; */
        /* width: 80%; */
        height: auto;
    }

}

@media only screen and (max-width: 576px) {

    h2
    {
        font-size: 2rem;
    }

    h3
    {
        font-size: 1.2rem;
        padding: 4% 5%;
    }

    h4{
        /* font-size: 1.1rem; */
        font-size: 1rem;
    }

    p
    {
        font-size: 0.55rem;
    }

    figcaption
    {
        font-size: 0.5rem;
    }

    hr
    {
        /* border: 0px;
        border-top: 10px dotted white;
        width: 80%;
        margin-top: 40px;
        margin-bottom: 40px;
        opacity: 50% */

        border: none;
        width: 50%;
        height: 40px;
        /* border-bottom: 1px solid white; */
        box-shadow: 0 10px 10px -10px white;
        margin-top: 0;
        margin-bottom: 40px;
    }

    .background{
        width: 100%;
    }

    .quote-text
    {
        /* font-size: 1rem; */
        font-size: 0.8rem;
        letter-spacing: 0.01em;
    }

    .character
    {
        width: 85%;
    }

    

    
}