body
{
    text-align: center;
    background-image: linear-gradient(to right, #141e30, #243b55);
    color: white;
    
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
}


main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

h2
{
    font-size: 5rem;
    margin: 0;
}

h3
{
    display: inline-block;
    background-color: #066DEB;
    padding: 2.5%;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 1.5rem;
}

h4
{
    font-family: 'Merriweather', serif;
    font-size: 1.3rem;
    margin-bottom: 10px
}

p
{
    font-family: 'Merriweather', serif;
    /* font-weight: 700; */
    line-height: 1.5;
}

img{
    display: block;
}

hr
{
    /* border: 0px;
    border-top: 10px dotted white;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 50% */

    border: none;
    width: 50%;
    height: 50px;
    /* border-bottom: 1px solid white; */
    box-shadow: 0 20px 20px -20px white;
    margin-top: 20px;
    margin-bottom: 70px;
}

.nje
{
    width: 920px;
}

.anime-name
{
    background-color: #066DEB;
    border-radius: 10px;
}

.anime-background
{
    margin-top: 25px;
    border-radius: 20px;
    padding: 15px;
}

.anime-background:nth-child(even)
{
    background-color: #112F99;
     
}

.anime-background:nth-child(odd)
{
    background-color: #1C4E99;
}

.img-background
{
    width: 100%;
    /* margin-bottom: 30px; */
}

.quote
{
    /* background-color:antiquewhite; */
    display: inline-block;
    width: 100%;
}


.quote-background
{
    background-color: #066DEB;
    display: inline-block;
    padding: 1%;
    border-radius: 15px;
    margin: 0 0px;
    margin-top: 20px;
}

.quote-text
{
    font-size: 1rem;
    letter-spacing: 0.01em;
}

.characters
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: aqua; */
    justify-content: space-between;
    /* margin: 0 20px; */
}

.character
{
    width: 40%;
    /* background-color: blue; */
    margin: 0 20px;
}

.character > img
{
    /* width: 360px; */
    width: 100%;
    height: 267px;
}



@media only screen and (max-width: 990px) {
    .nje{
        width: 95%;
    }
}

@media only screen and (max-width: 915px) {
    .character > img
    {
        /* width: 360px; */
        /* width: 80%; */
        height: 200px;
    }
}

@media only screen and (max-width: 768px) {
    .characters
    {
        display: flex;
        flex-direction: column;
        /* flex-wrap: wrap; */
        /* background-color: aqua; */
        /* justify-content: space-between; */
        /* margin: 0 20px; */
        align-items: center;
    }

    .character
    {
        width: 75%;
        /* background-color: blue; */
        margin: 0 20px;
        
    }

    .character > img
    {
        /* width: 360px; */
        /* width: 80%; */
        height: 255px;
    }

}